@use 'library' as *;

$track_width: 70vw;
$track_height: 160px;

.track {
    position: relative;
	margin-top: 1px;
    padding-top: 2px;
	left: 0;
	width: $track_width;
	height: $track_height;
    overflow: hidden;
	background-color: $base_gray;
	color: white;
	animation: fadeIn .5s;
    z-index: 0;
    font-size: 10px;
    .track_menu {
        white-space: nowrap;
        height: 21px;
        width: 100%;
        &::-webkit-scrollbar {
            width: 8px;
            border: 1px solid #d5d5d5;
        }
    }
    canvas {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 0;
        background-color: transparent;
    }
    select, .filename {
        @include obj_defaults;
        height: 19px;
        overflow: hidden;
        white-space: nowrap;
    }
    .filename {width: 80px;}
    .number_box {
        margin-left: 2px;
        input {
            @include obj_defaults;
        }
    }
    .delete_track, .export_wav {
        @include orange_button;
        margin-right: 2px;
        float: right;
    }

    div {display: inline-block;}

    .toggle_button {
        @include default_toggle;
        width: 55px;
        height: 16px;
    }
    .slider {
        margin-left: 2px;
        input {
            vertical-align: middle;
            height: 17px;
            width: 60px;
            background: $div_gray;
            border: 1px solid black;
            &::-webkit-slider-thumb {
                height: 17px;
                background: orange;
                width: 3px;
            }
            &::-webkit-slider-runnable-track {
                background: linear-gradient(to right, #c6710055 var(--lower,100%), #c6710055 1px, #ffffff00 1px, #ffffff00 var(--upper,0));
            }
        }
    }
}

.trim_frame {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 18px;
    background: $div_gray;
    border: 1px solid black;
    z-index: 0;
}

.loader {
    position: absolute;
	top: 50%;
	left: 45%;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	transition: .2s;
	animation: spin 2s linear infinite;
    z-index: 20;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.slicer {
    position: absolute;
    display: flex;
    top: 40px;
    height: 120px;
    background: transparent;
    border: none;
    border-right: 1px solid #151515;
    transition: .1s;
    z-index: 5;
    color: white;
    padding-left: 2px;
    text-align: left;
    &:hover {
        background: rgba(255,255,255,.35) !important;
    }
    &:active {
        background: rgba(255,255,255,.6) !important;
    }
}

.trim_handler {
    position: absolute;
    top: 23px;
    left: 0;
    width: 2px;
    height: 140px;
    background-color: orange;
    z-index: 6;
    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: -3px;
        width: 8px;
        height: 10px;
        background: orange;
    }
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: -3px;
        width: 0;
        height: 0;
        border-top: 10px solid orange;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
}

.gray_area {
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 120px;
    background-color: black;
    opacity: .4;
    z-index: 10;
}

.snap_loader svg {
    position: relative;
    width: 16px;
    height: 16px;
    left: 20px;
    transform: rotate(270deg);
    circle {
        stroke: white;
        stroke-width: 8px;
        fill: transparent;
        stroke-dasharray: 25;
        animation: snapLoad var(--duration, 1s) linear;
    }
}

@keyframes snapLoad {
    0% {stroke-dashoffset: 25;}
    100% {stroke-dashoffset: 0;}
}
