@use 'style' as *;

.recording {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.record_box {
    position: fixed;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 60%;
    padding: 4px;
    color: white;
    background: $div_gray;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: rgba(20,20,40,20) 0px 6px 15px;
    .close {
        opacity: .5;
        float: right;
        cursor: pointer;
        transition: .3s;
        &:hover,
        &:focus {opacity: 1}
    }
    .record_button {
        padding: 4px;
        padding-top: 2px;
        color: red;
        border-radius: 4px;
        border: 2px solid red;
        background: transparent;
        transition: .2s;
        &:hover{
            transform: scale(1.1);
        }
    }
    canvas {
        display: block;
        margin: 4px;
        border: 1px solid #303030;
        border-radius: 4px;
        @include stripes($light_gray,#707070,10px);
        width: 200px;
        height: 160px;
    }
}

.track_from_rec {
    @include orange_button;
    padding: 2px;
    width: auto;
}
