@use 'style' as *;

.recording {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.expand-record-box {
    position: relative;
    overflow: hidden;
    display: block;
    box-sizing: content-box;
    width: 90%;
    height: 0;
    padding: 4px;
    color: white;
    background: #151515;
    border: none;
    border-radius: 4px;
    transition: .5s;
    * {
        margin: 0;
        margin-left: 2px;
        box-sizing: border-box;
    }
    .audio_devices {
        height: 20px;
        font-size: 1em;
    }
    .record_button {
        //height: 30px;
        padding: 5px;;
        display: inline-flex;
        vertical-align: middle;
        color: #d50000;
        border-radius: 50%;
        border: 3px solid #d50000;
        background: transparent;
        transition: .2s;
        font-size: 1em;
        &:hover,
        &:focus{
            transform: scale(1.1);
        }
        &[state="recording"] {
            animation: recBlink .5s linear infinite;
        }
    }
    .play_recorded  {
        display: inline-flex;
        vertical-align: middle;
        height: 30px;
        color: #1faa00;
        border: none;
        background: transparent;
        transition: .2s;
        font-size: 2.5em;
        &:hover,
        &:focus{
            transform: scale(1.1);
        }
        &:disabled {
            opacity: .2;
        }
    }
    canvas {
        display: block;
        margin: 2%;
        border: 1px solid #303030;
        border-radius: 4px;
        background: checkered(#353535,#555,20px);
        width: 96%;
        height: 60%;
    }
    .track_from_rec {
        @include orange_button;
        padding: 2px;
        width: auto;
    }
}

@keyframes recBlink {
    from {background: red;}
    to {background: transparent;}
}


