$base_gray: #404038;
$obj_gray: #303030;
$light_gray: #888877;
$div_gray: #353534;

* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Sans';
}

button:active {
    border: none;
    outline: none;
}

body {
	background-color: black;
}

@mixin stripes($color1, $color2,$segment) {
    background: repeating-linear-gradient(to right, $color2, $color2 1px, $color1 1px, $color1 $segment);
}

@mixin obj_defaults {
    display: inline-block;
    box-sizing: content-box;
    height: 11px;
    width: 70px;
    padding: 2px;
    margin-left: 2px;
    margin-top: 2px;
    background-color: $obj_gray;
    font-weight: 500;
    font-size: 10px;
    border: 1px solid black;
    color: white;
    vertical-align: middle;
    overflow: hidden;
    user-select: none;
}

select, .filename {
    @include obj_defaults;
    overflow: hidden;
    white-space: nowrap;
}

.number_box {
    display: inline-block;
    height: 15px;
    margin-left: 2px;
    input {
        @include obj_defaults;
        cursor: n-resize;
        -moz-appearance: textfield; /* Firefox */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.slider_container {
    display: inline-block;
    input {
        -webkit-appearance: none;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
    }
}

.toggle_button {
    @include obj_defaults;
    width: 50px;
    height: 15px;
    border: none;
    border-radius: 4px;
    background: $light_gray;
    color: black;
    padding: 0;
    input {
        display: none;
    }
    span {
        position: relative;
        display: inline-block;
        padding-top: 2px;
        text-align: center;
        width: 100%;
        height: 100%;
        transition: .2s;
        &:hover {
            background: lightgray;;
        }
    }
    input:checked + span {
        background: orange;
        color: black;
    }
}

.idbtest {
    display: block;
}
