@use 'nav_menu';
@use 'track';
@use 'record_box';
@use 'metronome_box';
@use 'library' as *;

* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Sans';
}

body {
	background: black;
}

.material-icons-outlined,
.material-icons {
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
}

.number_box {
    display: inline-block;
    input {
        text-align: center;
        cursor: n-resize;
        -moz-appearance: textfield; /* Firefox */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.slider {
    display: inline-block;
    input {
        -webkit-appearance: none;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
    }
}
